{%- section 'pages_heading' -%}
<div class="container mt__60 mb__60 rtet4">
  {{ page.content }}
  
  {%- section 'hero_video' -%}
  <div class="sc-iwajpm kydRHc pf-9_ pf-r pf-r-eh" style="text-align: left;">
    <div class="pf-c">
      <div data-pf-type="Column" class="sc-oeezt OJJCp pf-10_">
        <h3 data-pf-type="Heading" class="sc-gXfVKN hOTIIO pf-11_"><span data-pf-type="Text"
            class="sc-eGJWMs gQYBcx pf-13_">ABOUT URBAN REVIVO</span></h3>
      </div>
    </div>
  </div>
  <div class="sc-iwajpm kydRHc pf-14_ pf-r pf-c-ct pf-r-eh" data-pf-type="Row">
    <div class="pf-c">
      <div data-pf-type="Column" class="sc-oeezt OJJCp pf-15_">
        <p class="sc-TtZnY fPBQTR pf-16_" data-pf-type="Paragraph" id="custom-font"><span data-pf-type="Text"
          class="sc-eGJWMs gQYBcx pf-18_">Urban Revivo is designed to inspire those who imagine every path as a runway,
          precisely because we believe they are the ones who push fashion forward. The dreamers, believers, creators and
          trendsetters who dare – dare to try, dare to break the rules, dare to embrace themselves, dare to work hard
          but play even harder, and dare to take the road unexplored.</span></p>
        <p class="sc-TtZnY fPBQTR pf-16_" data-pf-type="Paragraph"><span data-pf-type="Text"
          class="sc-eGJWMs gQYBcx pf-18_">Why? Because YOU ARE FASHION.</span></p>
          {%- section 'instagram_feed_1' -%}
      </div>
    </div>
  </div>
  <div class="sc-iwajpm kydRHc pf-14_ pf-r pf-c-ct pf-r-eh" data-pf-type="Row">
    <div class="pf-c">
      <div data-pf-type="Column" class="sc-oeezt OJJCp pf-15_">
        <p class="sc-TtZnY fPBQTR pf-16_" data-pf-type="Paragraph"><span data-pf-type="Text"
            class="sc-eGJWMs gQYBcx pf-18_" style="display: flex;">Founded in 2006, Urban Revivo offers the latest and
            widest range in trendy and stylish high street fashion. From uptown to downtown to out of town fashion, Urban
            Revivo has been the go-to destination for fashion-conscious consumers around the world for over a decade. Our
            unique brand personality and world-class design centers in London, Shanghai and Guangzhou combine to deliver
            exciting new collections every season. From perfectly tailored blazers, to trendy work dresses, to casual
            basics to eye-catching statement pieces; Urban Revivo is the ultimate playground for the fashionista (or
            closet fashionista) in everyone. </span></p>
        <p class="sc-TtZnY fPBQTR pf-16_" data-pf-type="Paragraph"> </p>
        <h3 data-pf-type="Heading" class="sc-gXfVKN hOTIIO pf-11_">Range And Style</h3>
      </div>
    </div>
  </div>
  {%- section 'instagram_feed' -%}
  {%- section 'instagram_shop' -%}
  <div class="sc-iwajpm kydRHc pf-14_ pf-r pf-c-ct pf-r-eh" data-pf-type="Row">
    <div class="pf-c">
      <div data-pf-type="Column" class="sc-oeezt OJJCp pf-15_">
        <p>At Urban Revivo, we don't believe in throwaway pieces and we certainly don't make them. We believe each piece
          from Urban Revivo should be a key addition to your ensemble. We work tirelessly to ensure our materials and
          craftsmanship reflect our belief — a key place in your closet.</p>
        <p> </p>
        <h3 data-pf-type="Heading" class="sc-gXfVKN hOTIIO pf-11_">Contact Info</h3>
        <p style="margin-bottom:5px">Email:</p>
        <ul>
          <li class="li_item">Customer Service: service@urbanrevivo.sg</li>
          <li class="li_item">Collaboration: marketing@urbanrevivo.sg</li>
        </ul>
        <p style="margin-bottom:5px">Address: </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;290 Orchard Road, #14-04, The Paragon, Singapore 238859</p>
        <p> </p>
        <p> </p>
      </div>
    </div>
  </div>
  
  <style>
    #shopify-section-instagram_shop h3{
    	font-size:20px
    }
    .sc-iwajpm h3{
    	font-weight:600
    }
    .sc-iwajpm span{
    	line-height: 150%;
    }
    #shopify-section-pages_heading{
    	display:none
    }
    h3,#shopify-section-instagram_shop h3{
    	font-size: 23px;
    }
    .li_item{
    font-family: 'Neue Montreal-Regular' !important;
    }
  </style>
</div>