{%- section 'banner4' -%}
<div class="container mb__60 black-f-page">
  <div class="content">
    {%- section 'banner_collection_blackF' -%}
  </div>
  <div class="content">
    {%- section 'banner_collection_blackF2' -%}
  </div>
  <div class="content">
    {%- section 'blackF_collection' -%}
  </div>
</div>

<style>
  .black-f-page .content {
    margin-bottom: 50px;
  }
  @media (min-width: 1025px){
    .black-f-page .cat_banner_prs {
      padding: 0 0 0 80px!important;
      max-height: initial;
      justify-content: flex-start;
    }
    #shopify-section-blackF_collection{
      width: calc( 100% + 60px);
      margin-left: -30px;
    }
  }

</style>