{% section 'multiversal_template_banner_2' %}
<div class="container">
</div>  
{% section 'multiversal_template_collection_2' %}

<style>
  .nt_se_campaign-landing_1 .mt__30.nt_banner_holder { margin:0px; }
  #shopify-section-campaign-landing_3 .mt__30.nt_banner_holder { margin: 0px; }
  #shopify-section-campaign-landing_4 .pos_text_alt .category-content {
    padding: 9px 0px 7px;
}
  #shopify-section-campaign-landing_4 .pos_text_alt .category-content .rte-setting p {  
    
    font-size: 16px;     margin: 0px; }
  #shopify-section-campaign-landing_4 .rte-setting.mt__7 { margin:0 auto; }
  #shopify-section-campaign-landing_4 .cat_space_item  {     margin-bottom: 35px; }
  .nt_se_campaign-landing_4 .category-content a {
    font-weight: bold;
    font-family: Poppins!important;
    font-size: 17px;
}
.only-display-mobile-view { display:none; }
.only-display-desktop-view { display:block; }
  
  @media all and (min-width: 320px) and (max-width: 780px) {
  .only-display-mobile-view { display:block; }
  .only-display-desktop-view { display:none; }
}

</style>
